<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        {% include 'header.html' %}
        {% endblock %}
    </head>
    <body style="background-color:#f8f3f1">
        <!-- Your page content -->
        {% block content %}
        {% for row in rows %}
            <div class="card text-center" style="margin:20px; width: 18rem;">
              <img class="card-img-top" src="{{ row.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ row.title }}</h5>
                <p class="card-text">{{ row.description }}</p>
                <a href="{{ row.github }}" class="btn btn-secondary">Code</a>
              </div>
            </div>
        {% endfor %}
        {% endblock %}
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>